<% if(locals.selectedI18n==='en') {%>
    <footer class="footer-area">
        <% } else {%>
            <footer class="footer-area fo " style="direction:rtl; margin-top: 1.1rem;">
                <% } %>
                    <div class="footer-widget-area">
                        <div class="container container-wide">
                            <div class="row mtn-40">
                                <div class="col-lg-4 col-md-4 text-center">
                                    <div class="widget-item">
                                        <div class="about-widget">
                                            <a href="/"><img src="assets/img/IMG-20210712-WA0002-removebg-preview.png" alt="Logo" /></a>
                                            <p class="">
                                                <%= i18n.__("description")%>
                                            </p>
                                            <br>
                                            <span class="ml-2 mr-2"><a class="face"
                                                    href="https://www.facebook.com/hershforcarsdisegn"
                                                    target="_blank"><i class="fa fa-facebook"></i></a></span>
                                            <span class="ml-2 mr-2"><a class="face"
                                                    href="https://www.youtube.com/channel/UCybTFypFcLRkreH6BLOxrDw"
                                                    target="_blank"><i class="fa fa-youtube"></i></a></span>
                                            <span class="ml-2 mr-2"><a class="face"
                                                    href="https://www.instagram.com/hershcars86/" target="_blank"><i
                                                        class="fa fa-instagram" target="_blank"></i></a></span>
                                            <span class="ml-2 mr-2"><a class="face" href="mailto:HesrhCars86@gmail.com"
                                                    target="_blank"><i class="fa fa-envelope"></i></a></span>
                                            <span class="ml-2 mr-2"><a class="face"
                                                    href="https://www.snapchat.com/add/Hershcars449" target="_blank"><i
                                                        class="fa fa-snapchat"></i></a></span>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 text-center">
                                    <div class="widget-item">
                                        <h4 class=" font-change widget-title">
                                            <%= i18n.__("QUICKLINK")%>
                                        </h4>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="widget-body">
                                                    <ul class="widget-list">
                                                        <li>
                                                            <a href="/">
                                                                <%= i18n.__("home")%>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="/carBeautifing">

                                                                <%= i18n.__("CAR BEATUIFYING")%>
                                                            </a>
                                                        </li>


                                                        <li>
                                                            <a href="/carSales">
                                                                <%= i18n.__("CAR SALES")%>
                                                            </a>
                                                        </li>


                                                        <li>
                                                            <a href="/ourSuppliers">
                                                                <%= i18n.__("OUR SUPPLIERS")%>
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="widget-body">
                                                    <ul class="widget-list">
                                                        <li>
                                                            <a href="/pictures">
                                                                <%= i18n.__("picture")%>
                                                            </a>

                                                        </li>
                                                        <li>
                                                            <a href="/vedios">
                                                                <%= i18n.__("video")%>
                                                            </a>

                                                        </li>
                                                        <li>
                                                            <a href="/about">
                                                                <%= i18n.__("ABOUT")%>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/contact">
                                                                <%= i18n.__("CONTACT")%>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>


                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-4 text-center ">
                                    <div class="widget-item">
                                        <h4 class="font-change widget-title">
                                            <%= i18n.__("CONTACT")%>
                                        </h4>
                                        <div class="widget-body">
                                            <address>
                                                <%= i18n.__("address")%>

                                            </address>
                                            <br>
                                            <address>

                                                <p>
                                                    <%= i18n.__("phone1")%> -
                                                        <%= i18n.__("phone2")%>
                                                            <p>
                                                                <%= i18n.__("phone3")%> -
                                                                    <%= i18n.__("phone4")%>
                                                            </p>
                                            </address>
                                            <br>
                                            <address>
                                                Hershars86@gmail.com
                                            </address>

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="footer-copyright-area">
                        <div class="container-fluid">
                            <div class="row">
                                <div class=" col-xl-6 col-lg-6 col-md-6">
                                    <div class="copyright-content text-center">
                                        <p>
                                            <%= i18n.__("Copyright Hersh car company©2021")%>

                                        </p>
                                    </div>
                                </div>
                                <!--   <div class="col-lg-4 col-md-6 text-center">
                                    <div class="copyright-content">
                                        <p>
                                        </p>
                                    </div>
                                </div> -->

                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="copyright-content text-center">
                                        <p>
                                            <%= i18n.__("developed by")%>
                                                <a href="https://www.facebook.com/kakonsoft" target="_blank">
                                                    <span style="color: rgb(241, 21, 0);">
                                                        <%= i18n.__("Kakon Soft Group")%>
                                                    </span>

                                                </a><span>
                                                    <%= i18n.__("07503203351")%>
                                                </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </footer>