<!--== Start Header Area ==-->
<%- include('../partials/header'); %>
    <!--== End Header Area ==-->

    <!--== Start Slider Area Wrapper ==-->
    <%- include('./slider'); %>
        <!--== End Slider Area Wrapper ==-->

        <!--== Start Banner Area Wrapper ==-->
        <%- include('./banner'); %>
            <!--== End Banner Area Wrapper ==-->

            <!--== Start Call to Action Area ==-->
            <!-- <%- include('./call'); %> -->
            <!--== End Call to Action Area ==-->

            <!--== Start Call to action Wrapper ==-->
            <%- include('./products'); %>
                <!--== End Call to action Wrapper ==-->
                <!--== Start Call to action Wrapper ==-->
                <%- include('./vedios'); %>
                    <!--== End Call to action Wrapper ==-->
                    <!--== Start Best Seller Products Area ==-->
                    <%- include('./bestseller'); %>
                        <!--== End Best Seller Products Area ==-->
                        <!--== Start Best Seller Products Area ==-->
                        <%- include('./suppliers'); %>
                            <!--== End Best Seller Products Area ==-->
                            <!--== Start Products Area Wrapper ==-->
                            <%- include('./spectialProducts'); %>
                                <!--== End Products Area Wrapper ==-->

                                <!--== Start Brand Logo Area Wrapper ==-->
                                <%- include('./brands'); %>
                                    <!--== End Brand Logo Area Wrapper ==-->

                                    <!--== Start Footer Area Wrapper ==-->
                                    <%- include('../partials/footer'); %>
                                        <!--== End Footer Area Wrapper ==-->

                                        <!-- Scroll Top Button -->
                                        <button class="btn-scroll-top"><i class="ion-chevron-up"></i></button>

                                        <!--== Start Responsive Menu Wrapper ==-->

                                        <!--== End Responsive Menu Wrapper ==-->